@font-face {
  font-family: 'FucXed';
  src: url('fucxedcaps-webfont.woff2') format('woff2'), url('fucxedcaps-webfont.woff') format('woff'), url('fucxedcaps-webfont.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}