
$theme-colors: (
  "primary": #21a73d,
  "green": #21a73d,
  "yellow": #ffc113,
  "pink": #ed9bc4,
  "red": #dc4f00,
  "orange": #f19631,
  "blue": #75d0f1,
  "black": #000,
  "white": #fff
) !default;

$navbar-light-toggler-border-color: rgba(0,0,0,0);
$navbar-light-color: #000;

$enable-responsive-font-sizes:  true !default; // responsive font sizes
$border-radius:                 0rem !default;

$btn-focus-box-shadow:          none !default;
$btn-box-shadow:                none !default;
$btn-focus-width:               0 !default;
$btn-border-width:              0 !default;
$btn-border-radius-lg:          0 !default;

$link-decoration:               underline !default;
$link-color:                    #000 !default;
$link-hover-color:              map-get($theme-colors, 'green') !default;
$brand-font:                    'FucXed', Montserrat, sans-serif !default;
$brand-font-secondary:          'Crimson Text', serif;
