// Colors from the XR Brand guide
$xr-black: #000000;
$xr-white: #ffffff;
$xr-green: #14aa37;
$xr-lemon: #f7ee6a;
$xr-pink: #ed9bc4;
$xr-light-green: #bed276;
$xr-bright-pink: #cf6297;
$xr-dark-blue: #3860aa;
$xr-light-blue: #75d0f1;
$xr-purple: #986297;
$xr-warm-yellow: #ffc11e;
$xr-red: #dc4f00;
$xr-angry: #c80082;
$xr-primary: $xr-green;

$theme-colors: (
  "primary": $xr-primary,
  "green": $xr-green,
  "yellow": $xr-warm-yellow,
  "pink": $xr-pink,
  "red": $xr-red,
  "blue": $xr-light-blue,
  "black": $xr-black,
  "navy": $xr-dark-blue,
  "purple": $xr-purple,
  "white": $xr-white,
  "lemon": $xr-lemon,
  "angry": $xr-angry,
  "light-green": $xr-light-green,
  "bright-pink": $xr-bright-pink
) !default;

$navbar-light-toggler-border-color: rgba(0, 0, 0, 0);
$navbar-light-color: #000;

$enable-responsive-font-sizes: true !default; // responsive font sizes
$border-radius: 0rem !default;

$btn-focus-box-shadow: none !default;
$btn-box-shadow: none !default;
$btn-focus-width: 0 !default;
$btn-border-width: 0 !default;
$btn-border-radius-lg: 0 !default;

$link-decoration: underline !default;
$link-color: #000 !default;
$link-hover-color: map-get($theme-colors, "green") !default;
$brand-font: "FucXed", Montserrat, sans-serif !default;
$brand-font-secondary: "Crimson Text", serif;
