@import "variables";



// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "list";
@import "form";

body > header {
    position: relative;
}

//nav.navbar {
//    position: absolute;
//    bottom: 30px;
//    right: 30px;
//}

.bg-green{
    background-color: $green;
    width: 100%;
}

.bg-black {
    background-color: $black;
    color: $white;
}

body {
    background-color: $white;
    font-family: 'Crimson Text', serif;
}

.block {
    border-radius: 5px;
    text-align: left;
    max-width: 800px;
    background-color: $gray-200;
}

.row {
    //margin-bottom: 10px;
}

header {
    background-color: $green;
    padding: 10px;
    //height: 172px;

}
header h1 {
    color: $white;
    font-size: 5em;
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 0;
}

.text-green {
    color: $green;
}

.logo {

    //position: relative;
    //display: block;
    //width: 240px;
    //margin: 1em 0;

    img {
        width: 100%;
    }
}

h1, h2 {
    text-transform: uppercase;
    font-family: FucXed, Montserrat, sans-serif;
}

h1 {
    margin: 1em 0 0.5em 0;
}

h2 {
    margin: 1em 0;
}

h3 {
    margin: 0.5em 0;
}

footer {
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.container-media {
    padding: 1em 0;
    iframe {
        width: 100%;
    }
}

.navbar-collapse {
    //height: 100vh;
    position: absolute;
    //width: 100vw;
    background-color: $green;
    z-index: 1000;
    top: 0;
    left: -15;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    font-family: FucXed, Montserrat, sans-serif;
    font-size: 44px;

    width: calc(100vw - 15px);

}

.navbar-toggler {
    z-index: 2000;
}

.navbar-toggle.collapsed .icon:before {
    content: '\f00d';
}


/* Desktop nav added by Jeppe Bijker */

#desktop-nav {
    display: none;
}

@media screen and (min-width: 801px) {
    header {
        height: auto !important;
    }

    .navbar {
        flex-wrap: nowrap;
    }

    .navbar-brand.logo {
        min-width: 200px;
    }

    .navbar-toggler {
        display: none;
    }

    #desktop-nav {
        display: block;

        .navbar-nav {
            flex-direction: row;
            flex-wrap: wrap;
            /*align-content: space-between;*/
        }

        li {
            text-align: center;
            line-height: 1em;
            width: 200px;
            /*background-color: rgba(255, 255, 255, 0.1);*/
            padding: 8px 5px;
        }

        a.nav-link {
            display: inline;
            text-align: center;

            /*text-decoration: underline;*/
            text-transform: uppercase;
            font-family: FucXed, Montserrat, sans-serif;
            /*font-size: 44px;*/
        }

        a.nav-link:hover {
            text-decoration: underline;
        }

    }
}



.hide {
    display: none;
}

p {
    font-size: 14pt;
}
.btn {
    background-color: #000;
    border-radius: 0;
    color: #fff;
    font-family: "FucXed", sans-serif;
    text-transform: uppercase;
}
.btn:hover {
    background-color: #404040;
    color: #fff;
}

/* Header */
.social-nav--head {
    min-width: 100px;
    text-align: center;
    /* 	background:red; */
}
.social-nav--head ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.social-nav--head li {
    display: inline-block;
}
.social-nav--head ul a {
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 13px;
    background-color: #000;
    width: 26px;
    height: 26px;
    padding-top: 5px;
}

/* Front page Blocks */
.blocks .padding {
    padding: 0 40px;
    text-align: center;
}
.blocks a:hover {
    text-decoration: none;
    color: #fff !important;
}
.blocks i {
    color: #000;
}
.block_1 {
    background-color: #ffc113;
}
.block_2 {
    background-color: #71d0f1;
}
.block_2 img {
    max-height: 120px;
    margin-top: 40px;
}
.block_3 {
    background-color: #21a73d;
}
.block_3 i {
    margin-top: 40px;
    font-size: 90px;
}
.demands h1 {
    text-align: center;
}
.demands li {
    font-size: 14pt;
}

/* Form */
#can_embed_form h4 {
    display: none;
}
.can_embed.form #can_embed_form_inner>h2 {
    border: none !important;
}
.can_button, #can_embed_form input[type=submit], #can_embed_form .button, #donate_auto_modal input[type=submit], #donate_auto_modal .button {
    background-color: #000 !important;
    font-size: 16pt !important;
    color: #fff;
    font-family: "FucXed", sans-serif;
    text-transform: uppercase;
}
