@import "variables";



// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "list";
@import "form";

body > header {
    position: relative;
}

nav.navbar {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.bg-green{
    background-color: $green;
    width: 100%;
}

.bg-black {
    background-color: $black;
    color: $white;
}

body {
    background-color: $white;
    font-family: 'Crimson Text', serif;
}

.block {
    border-radius: 5px;
    text-align: left;
    max-width: 800px;
    background-color: $gray-200;
}

.row {
    margin-bottom: 10px;
}

header {
    background-color: $green;
    padding: 10px;

}
header h1 {
    color: $white;
    font-size: 5em;
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 0;
}

.text-green {
    color: $green;
}

.logo {

    position: relative;
    display: block;
    width: 240px;
    margin: 1em 0;

    img {
        width: 100%;
    }
}

h1, h2 {
    text-transform: uppercase;
    font-family: FucXed, Montserrat, sans-serif;
}

h1 {
    margin: 1em 0 0.5em 0;
}

h2 {
    margin: 1em 0;
}

h3 {
    margin: 0.5em 0;
}

footer {
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.container-media {
    padding: 1em 0;
    iframe {
        width: 100%;
    }
}

