.citizen-assembly {
  .tiles {
    a {
      text-decoration: none !important;
    }

    .before-text {
      font-size: 2.5rem;
    }

    .tile-text {
      flex-basis: 180;
      max-width: 180px;
    }
  }

  .flag {
    background-color: #ffedb8;
  }
}
