

// Home page

img.featured-xr-logo {
  height: 64px;
}

ol {
  padding-left: 1rem; // pl-3
  li {
    padding-left: 2rem; // pl-4
    margin: 1rem 0;
  }
}

.btn {
	background-color: #000;
	border-radius: 0;
	color: #fff;
	font-family: $brand-font;
	text-transform: uppercase;
}
.btn:hover {
	background-color: #404040;
	color: #fff;
}

h1, h2 {
  text-transform: uppercase;
  font-family: FucXed, Montserrat, sans-serif;
}



img {
  max-width: 100%;
  height: auto;
}


a u {
	color: #000;
	font-family: $brand-font;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	border-bottom: 4px solid #000;
}
a:hover u {
	color: #888;
	border-bottom: 4px solid #888;
}

.masthead {
	margin: 0;
	text-align: center;
	background-color: #21a73d;
	display: inherit !important;
	padding: 20px 0 40px;
}
.masthead span {
	display: block;
	color: #000;
	font-size: 50pt;
	line-height: 50pt;
}
.masthead .second {
	font-size: 70pt;
	line-height: 70pt;
}
.masthead .fourth {
	font-size: 90pt;
	line-height: 90pt;
}
.masthead .arrow {
	margin-top: 50px;
	width: 50px;
}

#ir-banner__container a {
	display: block;
	padding: 10px 0;
	background-color: #dc4f00;
	text-align: center;
	color: #fff;

	font-family: $brand-font;
	text-transform: uppercase;
	font-size: 17pt;
/* 	line-height: 19pt; */
}
#ir-banner__container a:hover {
	opacity: 0.9;
	text-decoration: none;
}
#ir-banner__container img {
	height: 20px;
	vertical-align: baseline;
}


.align-right {
	text-align: right;
}

main .container:last-of-type {
	padding-bottom: 30px;
}

/* Press */


.container-media {
  padding: 1em 0;
  iframe {
      width: 100%;
  }
}


.wp-caption {
  img {
    max-width: calc(100vw - 30px);
  }
}
