// Front page page

img.featured-xr-logo {
  height: 64px;
}

// Front page Jumbotron

.masthead {
  &.cover {
    @extend .text-white;
    background-size: cover !important;
    min-height: 65vh;
  }

  margin: 0;
  text-align: center;
  background-color: #21a73d;
  display: inherit !important;
  span {
    // first and third
    display: block;
    font-size: 4rem;
    line-height: 4rem;

    @media all and (max-width: 374px) {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  .second {
    font-size: 5rem;
    line-height: 5rem;
    @media all and (max-width: 374px) {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  .fourth {
    font-size: 6rem;
    line-height: 6rem;
    @media all and (max-width: 374px) {
      font-size: 5rem;
      line-height: 5rem;
    }
  }
}

// Listing Excerpt (Search, Blog)

.excerpt > p {
  margin: 0;
}

// Posts and Pages

article.page,
article.post {
  @extend .mb-5;
}
article.page {
  @extend .pb-4;
}

// Sidebar

.sidebar {
  & > ul > li {
    @extend .pb-4;
  }
  .widget_recent_entries {
    ul {
      padding-left: 1.5rem;
    }

    a {
      color: $black;
    }
    .post-date {
      color: #999;
      display: block;
    }
  }

  // Search form

  .search-form {
    @extend .mb-4;
    input[type="text"] {
      @extend .form-control;
    }

    input[type="submit"] {
      @include button-variant($green, $green);
      @extend .btn-lg;
      @extend .btn-block;
      @extend .my-2;
      border-radius: 0;
      border: 0;
    }
  }
}

// Pagination

nav.pagination.navigation {
  display: block;
  @extend .my-4;
  @extend .my-sm-5;
  ul.page-numbers {
    @extend .pagination;
    @extend .justify-content-center;
    @extend .pt-sm-4;
    @extend .pagination-lg;

    > li {
      @extend .page-item;
      > span,
      > a {
        &.page-numbers {
          @extend .page-link;
          &.current {
            color: #111;
          }
        }
      }
    }
  }
}

// Post, page navigation
nav.pages > ul.pagination > li.page-item {
  span {
    @extend .page-link;
  }
  a {
    @extend .page-link;
    text-decoration: none !important;
    color: map-get($theme-colors, "green") !important;
  }
}
nav.pagination,
nav.post-navigation {
  @extend .mb-4;
  @extend .mb-sm-5;

  .nav-links {
    .nav-previous {
      @extend .pb-4;
    }
    .nav-next {
      @extend .py-4;
    }
    & > :nth-child(2) {
      @extend .border-top;
    }
    a.page-numbers {
      text-decoration: none !important;
      color: map-get($theme-colors, "green") !important;
      span {
        color: #999;
      }
      span.post-title {
        color: #000;
        text-decoration: underline;
      }
      &:hover {
        span.post-title {
          color: map-get($theme-colors, "green");
        }
      }
    }
  }
}

// make all images responsive (.img-fluid from bootstrap)

img {
  max-width: 100%;
  height: auto;
}

// Link with primary font

a u {
  color: #000;
  font-family: $brand-font;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  border-bottom: 4px solid #000;
}

a:hover u {
  color: #888;
  border-bottom: 4px solid #888;
}

/* Press */

.wp-caption {
  img {
    max-width: calc(100vw - 30px);
  }
}

.cover-image {
  min-height: 45vh;
  background-size: cover !important;
}

.image-desktop {
  display: block;
}

.image-mobile {
  display: none;
}

@media all and (max-width: 499px) {
  .image-desktop {
    display: none;
  }

  .image-mobile {
    display: block;
  }
}

.background-icon-container {
  overflow: hidden;
  position: relative;
}

.background-icon {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;

  opacity: 0.055;

  max-width: 600px; // for desktop
  max-height: 100vw; // for mobile
  height: 100%;

  pointer-events: none;
}

.preserve-line-breaks {
	white-space: pre-line;
}
