
footer {
	padding: 20px 0 50px 0;
}
footer h2 {
	font-size: 16pt;
	margin-bottom: 4px;
	color: #eee;
}
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer .menu a, footer a {
	color: #eee;
	padding: 2px 0;
}
footer .menu a:hover, footer a:hover {
	color: #eee;
	text-decoration: underline;
}

footer #language-selector {
	margin-bottom: 20px;
	opacity: 1;
}

footer #language-selector a {
	color: #ccc;
}
footer #language-selector .wpml-ls-current-language a {
	color: #fff;
/* 	border-bottom: 2px solid #fff; */
}
footer
#language-selector .wpml-ls-last-item {
	border-left: 2px solid #bbb;
}

.social-nav--footer ul a {
  /* 	padding: 10px; */
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 2px solid #fff;
  }
  .donate--footer .btn {
    background-color: #21a73d;
  }
  .donate--footer .btn:hover {
    opacity: 0.9;
  }
