
footer {
	color: #ddd;

	.nav-link,
	a {
		color: #fff;
		padding-left: 0;
		&:hover {
			color: #eee;
			text-decoration: underline;
		}
	}

	#language-selector {
		margin-bottom: 20px;
		opacity: 1;
		a {
			color: #ccc;
		}

		.wpml-ls-current-language a {
			border-right: 3px solid #bbb;
			color: #fff;
		}
	}

	.donate--footer .btn {
		background-color: #21a73d;
		&:hover {
			opacity: 0.9;
		}
	}
}
