
/* Form */

label {
  display: block;
}

.btn-black {
  background-color: $black;
  color: $white;
}

form {
  padding: 25px 0;
  margin-bottom: 0!important;
  .btn {
    border-radius: 10px;
  }
}

input[type=text], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: $green;
  color: $white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $green;
}

#can_embed_form h4 {
	display: none;
}
.can_embed.form #can_embed_form_inner>h2 {
	border: none !important;
}
.can_button, #can_embed_form input[type=submit], #can_embed_form .button, #donate_auto_modal input[type=submit], #donate_auto_modal .button {
	background-color: #000 !important;
	font-size: 16pt !important;
	color: #fff;
	font-family: $brand-font;
	text-transform: uppercase;
}
