/* Action Network Form */

#can_embed_form {
  h4,
  #action_info {
    display: none;
  }

  #logo_wrap {
    display: none;
  }

  h2 {
    font-family: $brand-font-secondary;
    text-transform: none;
  }

  form {
    @extend .row;
    overflow-x: hidden;

    // Unfortunately the html that comes out of actionnetwork is not
    // customizable at all. Hence a lot of css customization here! :(
    #form_col1,
    #form_col2 {
      @extend .col-12;
      // @extend .col-lg-6;
      @include media-breakpoint-down(md) {
        float: none !important;
        width: auto !important;
      }
    }

    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .floatlabel-wrapper {
      @extend .form-group;
    }

    // hide form labels with texts
    label.control-label,
    label.floatlabel-label {
      display: none !important;
    }

    // display checkboxes
    label.checkbox {
      display: block;
      @extend .my-2;
    }

    // bootstrap styling for forms
    input[type=text],
    input[type=email],
    input[type=number],
    span.block.relative,
    select,
    textarea {
      @extend .form-control;

      // validation feedback
      &.error_input {
        @extend .is-invalid;
      }
    }

    // checkboxes
    #d_sharing li,
    .controls.check_radio_field {
      @extend .form-check;
      label {
        @extend .form-check-label;
        font-size: 90%;
        input[type=checkbox] {
          @extend .form-check-input;
          width: 20px;
          height: 20px;
        }
      }
    }

    // hide loading image
    img.ajax-loading {
      display: none;
    }

    // submit button
    input[type=submit] {
      @extend .btn;
      @extend .btn-black;
      @extend .btn-lg;
      @extend .btn-block;
      @extend .font-xr;
      @extend .text-uppercase;
      @extend .my-3;
    }
  }
}
