@font-face {
  font-family: 'FucXed';
  src: url('../fonts/fucxedcaps-webfont.woff2') format('woff2'), url('../fonts/fucxedcaps-webfont.woff') format('woff'), url('../fonts/fucxedcaps-webfont.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}