
.navbar {
  padding-bottom: 0;

  .language-menu {
    .nav-item .nav-link {
      font-size: 1rem;
      font-weight: 100;
      border: 0 !important;
    }
  }


  a.navbar-brand > img {
    @include media-breakpoint-down(sm) {
      height: 55px;
    }
  }

  .nav-item {
    margin: 0 0.5rem;

    &:hover .nav-link,
    &.active .nav-link {
      color: $white;
      border-bottom: 5px solid $black;
    }

    .nav-link {
      border-bottom: 5px solid $green;
      font-family: $brand-font;
      white-space: nowrap;
      font-size: 1.4rem;
      @include media-breakpoint-up(xl) {
        padding: 1.4rem 0.5rem;
      }
    }

    @media only screen and (min-width: 1200px) {
      .nav-link  {
        font-size: 1.2rem;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-expand-xl .hide-xl  {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar-expand-xl .show-xl  {
    display: none;
  }
}

@media only screen and (max-width: 405px) {
  .navbar-expand-xl .hide-xxs  {
    display: none;
  }
}

@media only screen and (min-width: 406px) {
  .navbar-expand-xl .show-xxs  {
    display: none;
  }
}
