
.join {
  font-size: 1.4rem;
  .join-cover-image {
    // min-height: 60vh;
    background-size: cover !important;
  }

  .join-section {
    text-align: center;
    padding: 4rem 0.2rem;
  }

  .join-location {
    font-size: 1.6rem;
  }

  #can_embed_form_inner > h2 {
    display: none;
  }
  #can_embed_form #can_thank_you {
    background-color: transparent !important;
    text-align: center !important;
    color: #000 !important;
  }

  #can_embed_form form {
    input, select {
      &:focus,
      &:active {
        // we use a pink bg, so make the box shadow dark pink
        box-shadow: 0 0 0.2rem 0.2rem rgba(163, 33, 167, 0.25);
      }
    }
  }

  .do-more-actions {
    h3 {
      text-transform: uppercase;
      font-family: $brand-font;
      margin-top: 2rem;
    }
  }
}
