
main {

  ol {
    list-style: none;
    counter-reset: xr-counter;

    li {
      position: relative;
      // padding-left: 25px;
      // margin-bottom: 25px;
      counter-increment: xr-counter;

      &::before {
        content: counter(xr-counter);
        line-height: 40px;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        left: -15px;
      }
    }
  }
}
