
main {

  ol.counter {
    @extend .pl-3;
    list-style: none;
    counter-reset: xr-counter;

    li {
      @extend .pl-5;
      margin: 1rem 0;
      position: relative;
      counter-increment: xr-counter;

      &::before {
        content: counter(xr-counter);
        line-height: 40px;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        left: -15px;
      }
    }
  }
}
