// Local groups archive

.local-groups-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)), var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
  color: $xr-white;
}

.local-groups-info {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .info-toggle {
    align-self: flex-end;
    @include media-breakpoint-down(xs) {
      align-self: center;
    }
    background: $xr-light-blue;
    display: inline-block;
    padding: .1rem 1rem .1rem .5rem;
    cursor: pointer;
    &::after {
      font-family: 'FontAwesome';
      content: '\f068';
      margin-left: .5rem;
      font-size: .9rem;
      display: inline-block;
    }
    &.expanded {
      &::after {
        content: '\f067';
      }
    }
  }

  .info-expand {
    align-self: flex-end;
    background: lighten($xr-light-blue, 10%);
    padding: 1rem 2rem;
    max-width: 30rem;
    text-align: center;
    a {
      text-decoration: none !important;
    }
  }

}


.local-groups-index {

  .index-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1.5rem 8rem 1.5rem;
  }

    .select-region {
      padding: 2.2rem 3.8rem 0 0;

      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(xs) {
        display: none;
      }

      position: -webkit-sticky;
      position: sticky;
      top: 1rem;
      align-self: flex-start;

      button {
        display: none; // will be revealed if javascript is enabled

        background: none;
        border: none;
        border-bottom: 4px solid $xr-white;
        font-family: $brand-font;
        font-size: 1.4rem;
        white-space: nowrap;
        outline: none;

        padding: 0;
        margin: .5rem;
        align-self: flex-end;
        transition: border 200ms ease-in;

        &::before {
          font-family: 'FontAwesome';
          content: '\f0a4';
          color: $xr-white;
          text-decoration: none;
          display: inline-block;
          position: absolute;
          transform: translateX(-2rem);
          transition: color 200ms ease-in;
        }
        &.active {
          border-color: $xr-warm-yellow;
          &::before {
            color: $xr-warm-yellow;
          }
        }
      }

    }

    .groups-list {
      flex-grow: 2;
      padding: 0;

      ul {
        padding: 0;
        margin: 0;
      }

      .initial-letter {
        font-size: 3rem;
        color: $xr-green;
        break-after: avoid-column;
        border-bottom: 1px solid $xr-light-gray; //$xr-green;
        margin-top: 0.5rem;
      }

      li {
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: bold;
        list-style: none;
        padding-left: 0.5rem;
        margin-left: .5rem;
        a {
          text-decoration: none;
        }
      }
    }
}


// Single local group page

$hero-min-height: 250px;
$logo-diameter: 130px;
$logo-bg-diameter: 150px;

$logo-bottom-shift: -50px;
$logo-bg-bottom-shift: $logo-bottom-shift - ( ($logo-bg-diameter - $logo-diameter)/2 );

@each $color-key, $color-value in $theme-colors {
  .hero-bg-#{$color-key} {
    background: $color-value !important;
  }
  .hero-symbol-#{$color-key} {
    svg,path {
      fill: $color-value !important;
    }
  }
}

.local-group {
  .lg-hero-container {
    color: $xr-black;
    position: relative;
    min-height: $hero-min-height;
    text-align: center;
    padding-bottom: $logo-bg-diameter - $logo-bg-bottom-shift *-1;
    .group-name {
      padding: 2rem 1rem;
      min-height: $hero-min-height/2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        z-index: 10;
        margin: 0 auto;
        max-width: 75%;
      }
    }
    .lg-logo-bg {
      width: $logo-bg-diameter;
      height: $logo-bg-diameter;
      background-color: $xr-white;
      border-radius: 50%;
      margin-top: 5rem;
      position: absolute;
      display: block;
      bottom: $logo-bg-bottom-shift;
      left: 0;
      right: 0;
      margin: auto;
    }
    .lg-logo {
      width: $logo-diameter;
      height: $logo-diameter;
      clip-path: circle($logo-diameter/2 at center);
      position: absolute;
      bottom: $logo-bottom-shift;
      left: 0;
      right: 0;
      margin: auto;
    }
    .bg-symbol {
      display: block;
      position: absolute;
      bottom: 30px;
      opacity: .7;
      pointer-events: none;

      svg,path {
        width: auto;
        z-index: 1;
        height: $hero-min-height * .65;
        @include media-breakpoint-down(lg) {
          height: $hero-min-height * .6;
        }
        @include media-breakpoint-down(md) {
          height: $hero-min-height * .55;
        }
        @include media-breakpoint-down(sm) {
          height: $hero-min-height * .45;
        }
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }

      &.right {
        right: 20px;
        transform: scaleX(-1);
      }
      &.left {
        left: 20px;
      }
    }
  }
  #lg-navigation {
    padding-top: $logo-bg-bottom-shift * -1;
    background: $xr-white;
    .nav-link {
      font-family: $brand-font;
      text-decoration: none;
      padding: 0;
      margin: 0 .5rem;
      &.active {
        color: $xr-black;
        background: inherit;
        border-bottom: 5px solid $xr-primary;
      }
    }
  }
  .lg-section {
    text-align: center;
    padding-top: 3rem;
    p {
      text-align: justify;
      margin-bottom: 3rem;
    }
  }

  .tab-content {
    margin-bottom: 2rem;
  }

  .demands-list {
    counter-reset: lg-demands-counter;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    .demands-item {
      counter-increment: lg-demands-counter;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      &::before {
        content: "0" counter(lg-demands-counter);
        font-size: 3rem;
        margin-right: 0.5rem;
        font-family: $brand-font;
        line-height: 1;
      }
      .demands-item-title {
        font-family: $brand-font;
      }
      .demands-item-desc {
        font-size: 1.1rem;
      }
    }
  }

  .actions-list {
    .action-item {
      margin-top: 3rem;
      .action-item-title {
        font-family: $brand-font;
        font-size: 1.4rem;
      }
      .action-item-desc {
        font-size: 1.2rem;
      }
    }
  }

  #contact {
    p {
      text-align: center;
    }
  }

  .broadcast-channels {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid $xr-light-gray;
    p {
      text-align: center;
    }
  }

  #events {
    p {
      text-align: center;
    }
    .events-list {
      text-align: left;
      .events-list-item {
        border-bottom: 1px solid $xr-black;
        &:last-of-type {
          border: none;
          margin-bottom: 3rem;
        }
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        @include media-breakpoint-down(sm) {
          flex-wrap: wrap;
        }
        .event-details {
          flex-basis: 20%;
          font-size: 1rem;
          @include media-breakpoint-down(sm) {
            flex-basis: 70%;
            order: 2;
          }
          .event-date {
            font-family: $brand-font;
          }
          .event-location {
            font-size: 1.2rem;
            .event-place {
              font-weight: 900;
            }
            .event-venue {
              font-weight: normal;
              font-style: italic;
            }
          }

        }
        .event-description {
          flex-basis: 70%;
          padding: 0 1rem 0 1rem;
          @include media-breakpoint-down(sm) {
            flex-basis: 100%;
            order: 1;
            padding: 0 0 1rem 0;
          }
          .event-title {
            font-family: $brand-font;
            text-decoration: none;
          }
          .event-excerpt {
            font-style: italic;
            font-size: 1.1rem;
          }
        }
        .event-btn {
          flex-basis: 10%;
          @include media-breakpoint-down(sm) {
            flex-basis: 20%;
            order: 3;
          }
        }
      }
    }
  }

  #positions {
    p {
      text-align: center;
    }
    .positions-list {
      .positions-list-item {
        padding: 1rem .2rem .5rem .2rem;
        text-align: left;
        border-bottom: 1px solid $xr-black;
        .positions-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          .time-commitment {
            font-weight: 900;
          }
        }
        &:last-of-type {
          border: none;
        }
      }
    }
  }

  #pictures {
    .picture-gallery {
      min-height: 80vh;
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: $xr-black;
        padding: .9rem;
        &:hover {
          background-color: $xr-primary;
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        align-items: flex-start;
        opacity: 1;
      }
      .carousel-control-prev {
        justify-content: flex-start;
      }
      .carousel-control-next {
        justify-content: flex-end;
      }
    }
  }

  .group-social-icons {
    a {
      &:hover {
        color: $xr-primary;
      }
    }
  }
}
