.petition {
  font-size: 1.4rem;

  section {
    padding: 4rem 0.2rem;
  }

  #can_embed_form_inner > h2 {
    display: none;
  }

  // default thank you message is hidden because we show a custom message
  #can_embed_form #can_thank_you {
    display: none;
  }
}
