
.display-posts-listing {
  @extend .list-unstyled;
  &> li {
    @extend .py-4;
    @extend .border-bottom;
    &:last-child {
      border-bottom: 0 !important;
    }
    &> a {
      font-family: $brand-font;
      text-transform: uppercase;
    }
    .date {
      display: block;
      color: #aaa;
    }
  }
}
