.display-posts-listing {
  .listing-item {
    //position: relative;
    //padding-right:

    .image {
      display: block;
      float: right;
      height: 150px;
      width: 150px;
      text-align: center;
    }
    display: block;
    padding: 1rem 0;
    overflow: auto;
    &::after {
      clear: both;
    }
  }
}

.display-posts-listing {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.display-posts-listing .title {
	display: block;
	font-family: "FucXed", sans-serif;
	text-transform: uppercase;
	font-size: 14pt;
	color: #555;
}
.display-posts-listing .date {
	display: block;
	color: #aaa;
}
